@page
@model LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>H3Art</title>
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <a href="#" class=""><img src="~/image/login/whitelogo.png" alt="logo"/></a>
                
            </div>
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
               
            </div>
        </nav>
        <form id="account" method="post">
        <!----------------------------- Form box ----------------------------------->
        <div class="form-box">
            <!------------------- login form -------------------------->
           
            <div class="login-container" id="login">
                <div class="top">
                    <a href="/" class="backHome"><i class="bx bx-chevron-left"></i>Back To Home</a>
                    <span>Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a></span>
                    <header>Login</header>
                </div>
                <div class="input-box">
                    <input asp-for="Input.Email" autocomplete="username" type="text" aria-required="true" class="input-field" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" type="password" class="input-field" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Sign In" />
                </div>
                <div class="mid">
                    <p>or sign up with:</p>
                    <div class="icon-bar">
                        <a href="#" class="icon"><i class="bx bxl-google"></i></a>
                        <a href="#" class="icon"><i class="bx bxl-facebook"></i></a>
                    </div>
                </div>
                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="login-check" />
                        <label for="login-check"> Remember Me</label>
                    </div>
                    <div class="two">
                        <label><a href="#">Forgot password?</a></label>
                    </div>
                </div>
                <!-- <hr />
                <a href="#" class="submit input-box-submit"><i class="bx bxl-google"></i>Sign in with Google</a>
                <a href="#" class="submit input-box-submit"><i class="bx bxl-facebook"></i>Sign in with Facebook</a> -->
            </div>
            </form>
            <!------------------- registration form -------------------------->
            
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
